In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
#to create series
#np.nan is null value

s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [5]:
#to a create dataframe by passing a numpy array with datetime index and label colomns

d=pd.date_range("20210928",periods=10)
d

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [7]:
#to create a data frame
#the np.random.rndm()FUNCTION CREATES AN array of specified shape amd fills it with random values as per standard normal distribution
#column name with label A,B,C,D
#INDEX OF THE DATAFAME IS the  d and it contains datetime index

df=pd.DataFrame(np.random.randn(10,4),index=d,columns=["A","B","C","D"])
df

                   A         B         C         D
2021-09-28  1.296194  0.593464 -0.534440 -0.409959
2021-09-29 -1.491104 -0.434138 -0.854868  0.136571
2021-09-30 -0.049610  0.787340  0.698990 -0.040902
2021-10-01  1.138374 -0.225020 -0.432230  0.793667
2021-10-02  0.066698 -0.386431  0.574115 -0.872801
2021-10-03 -0.869831  2.075139 -0.327897 -1.649215
2021-10-04  0.552108 -0.576175  1.400574 -1.322480
2021-10-05  0.084900  0.844143 -0.296796  1.429875
2021-10-06  0.606376 -0.770122  0.860709  0.269288
2021-10-07  1.100345 -0.615119 -0.402243 -0.631559

In [6]:
#create a dataframe by passing a dictionary of objects and converted into a series

dfI=pd.DataFrame({"A":[1,2,3,4],
                 "B":pd.Timestamp('20210928'),
                 "C":pd.Series(1,index=list(range(4)),dtype="float32"),
                 "D":np.array([5]*4,dtype="int32"),
                 "E":pd.Categorical(["true","false","True","False"]),
                 "F":"Pandas"})

In [7]:
dfI

   A          B    C  D      E       F
0  1 2021-09-28  1.0  5   true  Pandas
1  2 2021-09-28  1.0  5  false  Pandas
2  3 2021-09-28  1.0  5   True  Pandas
3  4 2021-09-28  1.0  5  False  Pandas

In [8]:
#to check datatype
dfI.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [9]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [10]:
#view the data
#it will give the first 5 values
df.head()

                   A         B         C         D
2021-09-28  0.835414 -0.855931  0.519553  0.147072
2021-09-29  0.194669 -0.422165 -0.079183  0.214907
2021-09-30 -0.636197 -0.949706 -0.123662 -0.192115
2021-10-01 -1.370165 -0.905206  1.228790  0.715642
2021-10-02  1.883978 -0.312378  0.797981  0.425872

In [11]:
#view the data
#it will give the first 5 values
df.tail()

                   A         B         C         D
2021-10-03  1.023083 -0.701660 -0.297156  1.448846
2021-10-04 -0.069030  0.127538 -0.117697  0.654312
2021-10-05 -0.502871  0.934483  1.788035  1.846163
2021-10-06  0.427816 -2.272611 -1.802170 -0.719454
2021-10-07 -0.801395  1.140048  0.718793 -0.465199

In [12]:
#to get the index of the dataframe
df.index

DatetimeIndex(['2021-09-28', '2021-09-29', '2021-09-30', '2021-10-01',
               '2021-10-02', '2021-10-03', '2021-10-04', '2021-10-05',
               '2021-10-06', '2021-10-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
#to get the column of the dataframe
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
#to give the numpy representation  of the data
df.to_numpy()

array([[ 0.8354144 , -0.85593139,  0.51955255,  0.14707217],
       [ 0.19466856, -0.42216543, -0.0791827 ,  0.21490652],
       [-0.63619685, -0.94970599, -0.12366155, -0.19211461],
       [-1.37016538, -0.90520553,  1.22878971,  0.71564197],
       [ 1.88397813, -0.31237835,  0.79798135,  0.42587163],
       [ 1.0230825 , -0.70165971, -0.29715615,  1.44884571],
       [-0.06902961,  0.12753774, -0.11769682,  0.65431184],
       [-0.50287125,  0.93448308,  1.78803506,  1.84616322],
       [ 0.42781578, -2.27261139, -1.80217015, -0.71945428],
       [-0.80139494,  1.14004817,  0.71879347, -0.46519931]])

In [15]:
#to describe data
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.098530  -0.421759   0.263328   0.407604
std     0.977514   0.988674   0.989303   0.803219
min    -1.370165  -2.272611  -1.802170  -0.719454
25%    -0.602865  -0.892887  -0.122170  -0.107318
50%     0.062819  -0.561913   0.220185   0.320389
75%     0.733515   0.017559   0.778184   0.700309
max     1.883978   1.140048   1.788035   1.846163

In [16]:
#data frame sorted by index
df.sort_index(axis=1,ascending=False)

                   D         C         B         A
2021-09-28  0.147072  0.519553 -0.855931  0.835414
2021-09-29  0.214907 -0.079183 -0.422165  0.194669
2021-09-30 -0.192115 -0.123662 -0.949706 -0.636197
2021-10-01  0.715642  1.228790 -0.905206 -1.370165
2021-10-02  0.425872  0.797981 -0.312378  1.883978
2021-10-03  1.448846 -0.297156 -0.701660  1.023083
2021-10-04  0.654312 -0.117697  0.127538 -0.069030
2021-10-05  1.846163  1.788035  0.934483 -0.502871
2021-10-06 -0.719454 -1.802170 -2.272611  0.427816
2021-10-07 -0.465199  0.718793  1.140048 -0.801395

In [17]:
#sorting the dataframe by values
#it sort the dataframe depending on"c"
df.sort_values(by="C")

                   A         B         C         D
2021-10-06  0.427816 -2.272611 -1.802170 -0.719454
2021-10-03  1.023083 -0.701660 -0.297156  1.448846
2021-09-30 -0.636197 -0.949706 -0.123662 -0.192115
2021-10-04 -0.069030  0.127538 -0.117697  0.654312
2021-09-29  0.194669 -0.422165 -0.079183  0.214907
2021-09-28  0.835414 -0.855931  0.519553  0.147072
2021-10-07 -0.801395  1.140048  0.718793 -0.465199
2021-10-02  1.883978 -0.312378  0.797981  0.425872
2021-10-01 -1.370165 -0.905206  1.228790  0.715642
2021-10-05 -0.502871  0.934483  1.788035  1.846163

In [18]:
#to access only the single column
df["C"]

2021-09-28    0.519553
2021-09-29   -0.079183
2021-09-30   -0.123662
2021-10-01    1.228790
2021-10-02    0.797981
2021-10-03   -0.297156
2021-10-04   -0.117697
2021-10-05    1.788035
2021-10-06   -1.802170
2021-10-07    0.718793
Freq: D, Name: C, dtype: float64

In [19]:
#to slice the rows
#it will give the result from the 0th row to 3rd row
df[0:3]

                   A         B         C         D
2021-09-28  0.835414 -0.855931  0.519553  0.147072
2021-09-29  0.194669 -0.422165 -0.079183  0.214907
2021-09-30 -0.636197 -0.949706 -0.123662 -0.192115

In [20]:
#to select the data by using the labels
#inside the loc method ,we can pass the values  by labels
df.loc[d[1]]

A    0.194669
B   -0.422165
C   -0.079183
D    0.214907
Name: 2021-09-29 00:00:00, dtype: float64

In [21]:
#to selecting data on a multi axis by label
df.loc[:,["A","C"]]

                   A         C
2021-09-28  0.835414  0.519553
2021-09-29  0.194669 -0.079183
2021-09-30 -0.636197 -0.123662
2021-10-01 -1.370165  1.228790
2021-10-02  1.883978  0.797981
2021-10-03  1.023083 -0.297156
2021-10-04 -0.069030 -0.117697
2021-10-05 -0.502871  1.788035
2021-10-06  0.427816 -1.802170
2021-10-07 -0.801395  0.718793

In [9]:
#to get the datewith in some range
df.loc["20210928":"20211003",["D","C"]]

                   D         C
2021-09-28 -0.409959 -0.534440
2021-09-29  0.136571 -0.854868
2021-09-30 -0.040902  0.698990
2021-10-01  0.793667 -0.432230
2021-10-02 -0.872801  0.574115
2021-10-03 -1.649215 -0.327897

In [23]:
# TO GET A SINGLE ELEMENT FROM  THE DATAFRAME
df.loc["20210928",["D","C"]]

D    0.147072
C    0.519553
Name: 2021-09-28 00:00:00, dtype: float64

In [24]:
#to get a single element from the dataframe
df.loc[d[0],["D","C"]]

D    0.147072
C    0.519553
Name: 2021-09-28 00:00:00, dtype: float64

In [25]:
#to get the exact value in 0th index at column "c"
df.at[d[0],"C"]

0.5195525462134485

In [26]:
#SELECTING A VALUE FROM USING THE POSITION INSIDE THE DATAFRAME
#IT WILL SELECT ALL THE VALUE FROM THE THIRD POSITION
df.iloc[3]

A   -1.370165
B   -0.905206
C    1.228790
D    0.715642
Name: 2021-10-01 00:00:00, dtype: float64

In [27]:
#to select the values in 3rd and 4th position
df.iloc[3:5]

                   A         B         C         D
2021-10-01 -1.370165 -0.905206  1.228790  0.715642
2021-10-02  1.883978 -0.312378  0.797981  0.425872

In [15]:
#to select the value which is in 3rd 4th row,and it will only include the column strat with 0 and end with 2
df.iloc[3:5,0:2]

                   A         B
2021-10-01  1.138374 -0.225020
2021-10-02  0.066698 -0.386431

In [29]:
#boolean  indexing
#it will show the values "A"which is greater than"0"
df[df["A"]>2]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [30]:
df[df["A"]>3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [10]:
df[df["B"]<3]

                   A         B         C         D
2021-09-28  1.296194  0.593464 -0.534440 -0.409959
2021-09-29 -1.491104 -0.434138 -0.854868  0.136571
2021-09-30 -0.049610  0.787340  0.698990 -0.040902
2021-10-01  1.138374 -0.225020 -0.432230  0.793667
2021-10-02  0.066698 -0.386431  0.574115 -0.872801
2021-10-03 -0.869831  2.075139 -0.327897 -1.649215
2021-10-04  0.552108 -0.576175  1.400574 -1.322480
2021-10-05  0.084900  0.844143 -0.296796  1.429875
2021-10-06  0.606376 -0.770122  0.860709  0.269288
2021-10-07  1.100345 -0.615119 -0.402243 -0.631559

In [11]:
#handling the missing values
df2=df.reindex(index=d[0:4],columns=list(df.columns)+["E"])
df2.loc[d[0]:d[1],"E"]=1
df2

                   A         B         C         D    E
2021-09-28  1.296194  0.593464 -0.534440 -0.409959  1.0
2021-09-29 -1.491104 -0.434138 -0.854868  0.136571  1.0
2021-09-30 -0.049610  0.787340  0.698990 -0.040902  NaN
2021-10-01  1.138374 -0.225020 -0.432230  0.793667  NaN

In [32]:
#to check the null values
df2.isnull()

                A      B      C      D      E
2021-09-28  False  False  False  False  False
2021-09-29  False  False  False  False  False
2021-09-30  False  False  False  False   True
2021-10-01  False  False  False  False   True

In [33]:
#to drop the column
#it will drop the null values presented in a dataframe
df2.dropna()

                   A         B         C         D    E
2021-09-28  0.835414 -0.855931  0.519553  0.147072  1.0
2021-09-29  0.194669 -0.422165 -0.079183  0.214907  1.0

In [34]:
#fill the missing data
#it will fill the missing values with2
df2.fillna(value=2)

                   A         B         C         D    E
2021-09-28  0.835414 -0.855931  0.519553  0.147072  1.0
2021-09-29  0.194669 -0.422165 -0.079183  0.214907  1.0
2021-09-30 -0.636197 -0.949706 -0.123662 -0.192115  2.0
2021-10-01 -1.370165 -0.905206  1.228790  0.715642  2.0

In [35]:
#descriptive statistics 
#to find the mean
df.mean()

A    0.098530
B   -0.421759
C    0.263328
D    0.407604
dtype: float64

In [76]:
df2.mean()

0    NaN
1    NaN
2    NaN
3    NaN
E    1.0
dtype: float64

In [36]:
s=pd.Series([1,2,3,np.nan,5,6,7,8,9,10],index=d).shift(2)
s

2021-09-28    NaN
2021-09-29    NaN
2021-09-30    1.0
2021-10-01    2.0
2021-10-02    3.0
2021-10-03    NaN
2021-10-04    5.0
2021-10-05    6.0
2021-10-06    7.0
2021-10-07    8.0
Freq: D, dtype: float64

In [37]:
#it substract all elements of df by s
df.sub(s,axis="index")

                   A         B         C         D
2021-09-28       NaN       NaN       NaN       NaN
2021-09-29       NaN       NaN       NaN       NaN
2021-09-30 -1.636197 -1.949706 -1.123662 -1.192115
2021-10-01 -3.370165 -2.905206 -0.771210 -1.284358
2021-10-02 -1.116022 -3.312378 -2.202019 -2.574128
2021-10-03       NaN       NaN       NaN       NaN
2021-10-04 -5.069030 -4.872462 -5.117697 -4.345688
2021-10-05 -6.502871 -5.065517 -4.211965 -4.153837
2021-10-06 -6.572184 -9.272611 -8.802170 -7.719454
2021-10-07 -8.801395 -6.859952 -7.281207 -8.465199

In [38]:
df

                   A         B         C         D
2021-09-28  0.835414 -0.855931  0.519553  0.147072
2021-09-29  0.194669 -0.422165 -0.079183  0.214907
2021-09-30 -0.636197 -0.949706 -0.123662 -0.192115
2021-10-01 -1.370165 -0.905206  1.228790  0.715642
2021-10-02  1.883978 -0.312378  0.797981  0.425872
2021-10-03  1.023083 -0.701660 -0.297156  1.448846
2021-10-04 -0.069030  0.127538 -0.117697  0.654312
2021-10-05 -0.502871  0.934483  1.788035  1.846163
2021-10-06  0.427816 -2.272611 -1.802170 -0.719454
2021-10-07 -0.801395  1.140048  0.718793 -0.465199

In [39]:
#to apply some fuctions
#to cumsum is used  to find the cumulative sum value over any axis.
df.apply(np.cumsum)

                   A         B         C         D
2021-09-28  0.835414 -0.855931  0.519553  0.147072
2021-09-29  1.030083 -1.278097  0.440370  0.361979
2021-09-30  0.393886 -2.227803  0.316708  0.169864
2021-10-01 -0.976279 -3.133008  1.545498  0.885506
2021-10-02  0.907699 -3.445387  2.343479  1.311378
2021-10-03  1.930781 -4.147046  2.046323  2.760223
2021-10-04  1.861752 -4.019509  1.928626  3.414535
2021-10-05  1.358881 -3.085026  3.716661  5.260698
2021-10-06  1.786696 -5.357637  1.914491  4.541244
2021-10-07  0.985301 -4.217589  2.633285  4.076045

In [40]:
#lambda fuction will take any number of arguments but can only have one expression
#it give the substraction of x.max and x.min
df.apply(lambda x:x.max()-x.min())

A    3.254144
B    3.412660
C    3.590205
D    2.565617
dtype: float64

In [41]:
#hisogram   histogram is a representation of distribution of data
#the value_countss()fuction returns a series that contain counts unique values
s.value_counts()

1.0    1
2.0    1
3.0    1
5.0    1
6.0    1
7.0    1
8.0    1
dtype: int64

In [78]:
s=pd.Series(["pandas","python","jupyter",np.nan,"java","colab"])

In [43]:
#string method inside pandas
s.str.upper()

0     PANDAS
1     PYTHON
2    JUPYTER
3        NaN
4       JAVA
5      COLAB
dtype: object

In [44]:


df=pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -2.310610 -1.594179  0.223225 -0.570664
1 -0.675650  0.072859 -0.800641  0.036096
2  0.943325  0.720771  0.786434  2.037988
3 -0.005877 -0.506760 -0.250880 -0.224644
4  1.421667 -1.622553  0.862409 -1.314968
5 -0.370305  0.462509  1.082724  2.010477
6 -0.474898  0.127967 -1.768725  2.211988
7  0.286064 -1.120801 -0.230363 -1.354633
8 -0.393980 -0.919882 -0.432204 -2.321947
9 -1.558828  0.799751 -0.842065 -0.089926

In [45]:
#break the dataframe

df2=[df[:3],df[3:7],df[7:]]
df2

[          0         1         2         3
 0 -2.310610 -1.594179  0.223225 -0.570664
 1 -0.675650  0.072859 -0.800641  0.036096
 2  0.943325  0.720771  0.786434  2.037988,
           0         1         2         3
 3 -0.005877 -0.506760 -0.250880 -0.224644
 4  1.421667 -1.622553  0.862409 -1.314968
 5 -0.370305  0.462509  1.082724  2.010477
 6 -0.474898  0.127967 -1.768725  2.211988,
           0         1         2         3
 7  0.286064 -1.120801 -0.230363 -1.354633
 8 -0.393980 -0.919882 -0.432204 -2.321947
 9 -1.558828  0.799751 -0.842065 -0.089926]

In [46]:
#concate the several pieces
pd.concat(df2)

          0         1         2         3
0 -2.310610 -1.594179  0.223225 -0.570664
1 -0.675650  0.072859 -0.800641  0.036096
2  0.943325  0.720771  0.786434  2.037988
3 -0.005877 -0.506760 -0.250880 -0.224644
4  1.421667 -1.622553  0.862409 -1.314968
5 -0.370305  0.462509  1.082724  2.010477
6 -0.474898  0.127967 -1.768725  2.211988
7  0.286064 -1.120801 -0.230363 -1.354633
8 -0.393980 -0.919882 -0.432204 -2.321947
9 -1.558828  0.799751 -0.842065 -0.089926

In [47]:
#left joining
#left =pd.DataFrame({"A":[1,2],"B":[3,4]})

In [48]:
#RIGHT JOINING
#right=pd.dataframe({"A":[3,2],"D":[4,5]})
#LEFT
#RIGHT
#pd.merge(left,right,on="A")

In [49]:
df

          0         1         2         3
0 -2.310610 -1.594179  0.223225 -0.570664
1 -0.675650  0.072859 -0.800641  0.036096
2  0.943325  0.720771  0.786434  2.037988
3 -0.005877 -0.506760 -0.250880 -0.224644
4  1.421667 -1.622553  0.862409 -1.314968
5 -0.370305  0.462509  1.082724  2.010477
6 -0.474898  0.127967 -1.768725  2.211988
7  0.286064 -1.120801 -0.230363 -1.354633
8 -0.393980 -0.919882 -0.432204 -2.321947
9 -1.558828  0.799751 -0.842065 -0.089926

In [50]:
#,3grouping
df.groupby([2]).sum()

                  0         1         3
2
-1.768725 -0.474898  0.127967  2.211988
-0.842065 -1.558828  0.799751 -0.089926
-0.800641 -0.675650  0.072859  0.036096
-0.432204 -0.393980 -0.919882 -2.321947
-0.250880 -0.005877 -0.506760 -0.224644
-0.230363  0.286064 -1.120801 -1.354633
 0.223225 -2.310610 -1.594179 -0.570664
 0.786434  0.943325  0.720771  2.037988
 0.862409  1.421667 -1.622553 -1.314968
 1.082724 -0.370305  0.462509  2.010477

In [83]:
#3 grouping
df.groupby([0]).sum()

                  1         2         3
0
-2.310610 -1.594179  0.223225 -0.570664
-1.558828  0.799751 -0.842065 -0.089926
-0.675650  0.072859 -0.800641  0.036096
-0.474898  0.127967 -1.768725  2.211988
-0.393980 -0.919882 -0.432204 -2.321947
-0.370305  0.462509  1.082724  2.010477
-0.005877 -0.506760 -0.250880 -0.224644
 0.286064 -1.120801 -0.230363 -1.354633
 0.943325  0.720771  0.786434  2.037988
 1.421667 -1.622553  0.862409 -1.314968

In [51]:
#reshape the dataframework
#my_tuple=list(zip(*[[1,2,3,4,5,17,18,19],[11,12,13,6,7,8,9,10]]))
#index=pd.multiindex.from _tuples(my_tuple,names=["first","second])
#df=pd.Dataframe(np.random.randn(8,2),index=index,columnd=["A","B])
#df2=df[:2]
#df2

In [52]:
#df2.stack()

In [53]:
##stack has a multiindex as indexes
##inverse stack is unstack

In [54]:
#df2.unstack

In [55]:
##pivote table
#df=pd.DataFrame ({"A":['a','b','c','d']*3,
#                  "B":["A","B","C"]*4
#                  "C":['P','P',"P","Q","Q","Q"]*2,
#                  "D":np.random.randn(12),
#                  "E":np.random.randn(12)})

In [56]:
#pd.pivot_table(df,values="D",index=["A","B"],columns=["C"])

In [57]:
#dates=pd.date_range("30/09/2021 00:00",periods=5,freq="s")
#dates

In [58]:
#ts=pd.Series(np.random.randint(len(dates)),dates)

In [59]:
#ts

In [60]:
#ts_utc=ts_localize("UTC")

In [61]:
#ts.utc

In [62]:
#ts_utc=ts.tz__CONVERT("US/Eastern")

In [63]:
#dates=pd.date_range("30/09/2021",periods=5,freq="M")

In [64]:
#ts=pd.series (np.random.randint(len(dates)),dates)
#ts

In [65]:
#ps=ts.to_period()

In [66]:
#ps

In [67]:
#ps.to_timestamp()

In [68]:
#df=pd.DataFrame({"id":[1,2,3,4,5,6]
#               "grade":["a","b","c","a","e"]})

In [69]:

#df

In [70]:
#df["Grade"]=df["grade"].astype("category")

In [71]:
#df["Grade"]

In [72]:
#df["Grade"].cat.catogaries=["good","verygood","verybad","excellent"]

In [73]:
#df["Grade"]=df["Grade"].cat.set_catogaries(["very good","bad","very bad","good","mediam"])
#df["Grade"]